aside ul {
  margin: 0;
}

aside ul li {
  display: block;
  list-style: none;
}

aside ul li a {
  background-color: #ddd;
  display: block;
  text-decoration: none;
  padding: 5px 5px
}

aside ul li a:hover {
  background-color: #eee;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

code {
  border-radius: 5px;
  color:rgba(45,65,150,.9);
}

code, kbd, pre, samp {
  font-size: .8em;
}

pre,pre>code {
  color:rgba(45,65,150,.9);
  word-break:break-all;
  word-wrap:normal;
  overflow-x:auto;
  white-space:pre
}

*:not(pre)>code {
  font-size: .8em;
}
