language: ruby
rvm:
- 2.3.4

before_script:
 - chmod +x ./script/*
 - gem update --system 2.4.8
 - gem --version
 - gem install bundler --version=1.11.2
 - bundler --version

script:
 - ./script/cibuild.sh
 - ./script/cideploy.sh

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
