{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
{% capture num_parts %}{{ url_parts | number_of_words }}{% endcapture %}
{% assign previous="" %}
<ul class="title-area breadcrumb">
 {% if num_parts == "0" or num_parts == "-1" %}
  <li class="name"><h1><a href="/">{{ page.title }}</a></h1></li>
 {% else %}
  <li class="name"><h1><a href="/">Home</a></h1></li>
  <li class="name"><h1> &#187; </h1></l1>

  {% for unused in url_parts %}
   {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
   {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

   <li class="name"><h1><a href="{{previous}}">{{ unused }}</a></h1></li>
   <li class="name"><h1> &#187; </h1></l1>

   {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
  {% endfor %}
 {% endif %}
  <li class="name"><h1><a href="#">{{ page.title }}</a></h1></li>
</ul>
